body {
    margin: 0;
    font-size: 20pt;
    font-family: 'Urbanist', sans-serif;
}

.header {
    background-color: black;
    color: white;
    padding: 20px;
}

.container {
    max-width: 85%;
    margin: 0 auto;
    display: grid;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
.main-menu li{
    display: inline;
    margin-right: 10px;
}

.main-menu a{
    text-decoration: none;
    color: white;

}

main {
    text-align: justify;
}

.avatar {
    height: 250px;
    padding: 0 20px 20px 0;
    float: left;
}

.avatar img {
    height: 100%;
    
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
}

h1 {
    text-align: center;
}